input {
  width: 84%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  display: block;
  border: 1px solid #999;
  height: 32px;
}

.register-form{
  color: white;
  border: solid 1px grey;
  width: 480px;
}

.register-form-header{
  background-color: #97bf0e;
  width: 100%;
  margin: auto;
  margin-bottom: 24px;
  line-height: 42px;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.green-button{
  width: 100%;
  display: block;
  background-color: #97bf0e;
  color: white;
  border: solid 1px #97bf0e;
  padding: 8px;
  margin-top: 24px;
}
